@import url('../css/fonts.css');

body{
    background: #f7f8f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden!important;
    font-family: Abel;
    font-weight: 500;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box!important;
    
}

 a{
     text-decoration: none!important;
 }
 *ul{
     list-style-type: none;
 }
 li{
    list-style: none!important;
 }
 
/******************************header****************************************/
header{
    height: 100vh;
    width: 100%;
    background:url('../img/adventurers.jpg');
    /* background: url('../img/banner-img.jpg'); food background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0!important;
    overflow: hidden!important;
}

.toppest{
    background: #000000;
    color: #ffffff;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 10px 30px;

}

.social-connect{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-connect li a{
    margin: 5px;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 5px;
}

.navbar{
    background-color: #ffffff;
    padding: 0 1rem!important;
}

.navbar-brand{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1.5rem;
}
.nav-item{
    padding: .9rem .5rem;
    cursor: pointer;
}
.nav-item .nav-link:hover,
.sports li a:hover,
.dropdown-title a:hover,
.dropdown-items-explore li a:hover
{
    color: #ea2129!important;
}

.nav-item .nav-link{
   font-family: Abel;
   font-weight: 600;
   font-size: .9rem;
    text-transform: capitalize;
    color: #000000!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 0 5px;
}

.blog-date{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-items-food,
.dropdown-items-fashion,
.dropdown-items-sports,
.dropdown-items-explore
{
    position: absolute;
    background: #ffffff;
    z-index: 999999;
    width: 100%;
    left: 0;
    right: 0;
    padding: 50px 20px;
    top: 68px;
    border-top: 1px solid #bdbdbd;
    display: none;
}

.dropdown-items-sports{
    width: 120px;
    left: 369px;
    border: 1px solid #e7e7e7;
    padding: 0;
}
.sports li{
    border-bottom: 1px solid #e7e7e7;
    font-weight: 600;
    padding: .5rem 1rem;
   
}

.dropdown-items-explore li{
    font-weight: 600;
    padding: .5rem 0;
   
}

.dropdown-items-explore li a{
    color: black;
}


.drop-item{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.drop-item .img-container{
    overflow: hidden;
    margin-right: 20px;
}

.dropdown-img{
    width: 130px;
    transition: all 1s ease-in-out;
}

.dropdown-img:hover{
    transform: scale(1.5);
}

.dropdown-title a,
.sports li a{
    font-weight: 600;
    color: #000;
    font-size: 1rem;
}


.nav-item::after{
    display: block;
    content: '';
    position: relative;
    top: 14px;
    border-bottom: solid 3px #ea2129;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;

}
.nav-item:hover::after{
    transform: scaleX(1);
}

.chevron-down{
    font-size: .7em;
    margin-left: 5px;
    font-weight: lighter;
}

nav .social-icons .social-icon{
    color: lightblue;
    font-size: 1.1rem;
    margin: 0 .3rem;
}

nav .social-icons .social-icon:hover{
    color: white;
    cursor: pointer;
}


.dropdown-menu{
    position: absolute;
    z-index: inherit;
}


/**********************************showcase section ******************************************/

.showcase{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    background-color: rgba(0,0,0,0.2);
}


.showcase .container{
    display: flex;
    flex-direction: column;
    
}

.showcase-text h1{
    font-size: 8rem;
    color: #f8f8f9;
    font-family: Noto-seri;
    opacity: 1;
    z-index: -1;

    
    
}

.showcase-text span{
    color: rgb(84, 235, 84);
    font-size: 1.7rem;
    font-family: Abel;
}

.showcase-content .showcase-btn{
    margin: 1rem 0;
}
.showcase-content a{
    background: #fc4501;
    outline: none;
    padding: .3rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 4rem;
    color: white;
    font-family: Abel!important;
    transition: all 1s ease;
}

.showcase-content a:hover{
    background: #000;
    /* background: linear-gradient(120deg, #ff512f 0%, orange 100%); */
}

/************************************************* Navigation ************************************/
.navigation{
    width: 100%!important;
    margin: 0!important;
}
.navigation .navbar{
    background: white!important;
    margin: 2rem 0;
    padding: 1rem 0;
    z-index: 9999;
    width: 100%;
}
.navigation .nav-link{
    color: rgb(80, 70, 70)!important;
    font-size: 1rem;
    margin: 0 0.5rem;
    text-transform: capitalize;
}

.navigation .nav-link:hover{
    color: orangered!important;
    border-bottom: 1px solid orangered;
}

.sticky-top{
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 3px 4px 8px rgba(0,0,0,0.1);
    width: 100%;
}


/*********************************************** Carousel Section *************************************/
.carousel-container{
    background: #a0c4ebc7;
    /* background:#d88df7!important; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

.carousel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}

.carousel-img-container{
    overflow: hidden;
    
}
.carousel-img{
    height: 4rem;
    transition: all 1s ease-in-out;
   
}

.carousel-img:hover{
    transform: scale(1.4);
}
.carousel-title{
    padding: 1rem;
}
.carousel-title .title a{
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
    transition: all .5s ease-in-out;
}
.carousel-title .title a:hover{
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
}


/*************************************** Main Content ************************************/
#blog{
    margin: 6rem 0;
}


.heading{
    font-weight: 700;
    border-left: 3px solid #ff5722;
    padding-left: 8px;
    color: #1583e9;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.post-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 40px;
    overflow: visible;
    
}

.post-content{
    border: 1px solid rgb(236, 234, 234);
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
}


.post-content:hover{
    transform: translateY(-10px);
    
}



.post-img{
    position: relative;
    overflow: hidden;
}
.post-img img{
    width: 100%;
    height: 16rem;
    transition: all 1s ease-in-out;
}

.post-category{
    position: absolute;
    font-size: 1.1rem;
    top: 10px;
    left: 10px;
    background-color: #f5707a;
    color: #fff;
    padding: 2px 3px;
    border-radius: 5px;
}
.post-img img:hover{
  transform: scale(1.3);
}

.post-title h3{
    font-family: Abel;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem!important;
  
    margin: 1rem 1rem;
}

.post-date{
    padding: .5rem 1rem;
    font-family: Abel;
    font-size: 1rem;
}

.excerpt{
    padding: 0 1rem 0 1rem;
    opacity: 0.7;
}

.post-content .readmore{
  padding:  1rem;
  text-align:center;
  margin-bottom: 1rem!important;
  display: block;
}

.readmore .read-more-btn{
    margin: 2rem!important;
    color: #000;
    text-transform: capitalize;
    position: relative;
    right: 0!important;
    font-size: 1rem;
}
/* 
.blog-post .paginate{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin: 4rem 0;
    width: 100%;
}
 .blog-post .paginate .fa-chevron-right,
 .blog-post .paginate .fa-chevron-left
 {
    margin: 16px;
    color: #1e1f1d;
    cursor: pointer;


 }
.blog-post .paginate .pages{
    color: black;
    text-decoration: none;
    margin: .5rem;
    padding: .5rem;
    font-size: 1rem;
    font-family: cursive;
    border-radius: 10rem;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
} */


/****************************************************** Sidebar ************************************************/
#sidebar{
 display: flex;  
 flex-direction: column;
 overflow-x: hidden!important;
}

.search-input:focus{
    outline: none!important;
    box-shadow: none;
    border-color:#ced4da ;  
}

.input-btn{
    cursor: pointer;
    background: #ff5722;
    color: #ffffff;
}

.sidebar-heading{
    color: #000000;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

#categories li a{
    display: inline-block;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
    font-weight: bold;
}


#categories li a:hover{
    display: inline-block;
    transform: translateX(10px);
   border-bottom: 1.5px solid #ff5722;
   color: black;
}

#sidebar .post{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-title{
    font-weight: bold;
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 1.2rem;
}

#sidebar .social-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sidebar .fa-facebook{
    color: #3b5998;
}
#sidebar .fa-whatsapp{
    color: #3b5;
}
#sidebar .fa-instagram{
    color: #bc2a8d;
}
#sidebar .fa-twitter{
    color: #00acee;
}
#sidebar .fa-twitter{
    color: #0072b1;
}

.bg-white{
    background: #ffffff!important;
}

#admin-profile{
    border: 1px solid #f1eeee;
}

#profile-btn{
    background: #ff512f;
    color: #ffffff;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: capitalize;
}














.sidebar .category{
    color: white;
   
}

.sidebar .category h3{
    font-family: Bebas;
    font-weight: 500;
    letter-spacing: .2rem;
    color: black;
}

.sidebar .category-item{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1rem;
    transition: all 1s ease;
    border: 1px solid white;
    padding: .3rem 0.5rem;
    margin: .5rem 0;
    border-radius: .8rem;
    background: linear-gradient(190deg, skyblue 0%, rgb(50, 50, 138) 100%);
}

.sidebar .row{
    margin: 0!important;
    padding: 0!important;
}

.sidebar .category-item:hover a,
.sidebar .category-item:hover span{
    opacity: .7;
}
.sidebar .category-item a{
    text-decoration: none;
    color: white;
}


.sidebar .latest-post{
    padding: 2rem 0.5rem;
    color: white;
}

.sidebar .latest-post h3{
    text-transform: uppercase;
    font-family: Bebas;
    font-weight: 600;
    letter-spacing: .2rem;
    color: black;
}

.latest-post .row{
   margin-top: 1.5rem;


    
}

.sidebar .latest-post .img{
    overflow: hidden;
}


.sidebar .latest-post img{
    width: 100%;
    transition: all 1s ease;
}
.sidebar .latest-post img:hover{
    transform: scale(1.3);
}

.post-text a{
    font-size: 1rem;
    font-family: Abel;
    color: #34dade;
}

.popular-post{
    padding: 3rem 0;
}
.popular-post .post-content{
    padding: 1rem;
}

.popular-post h3{
    text-transform: capitalize;
    font-family: Bebas;
    color: black;
}

.popular-post .post-img{
    position: relative;
}

.popular-post img{
    width: 100%;
    height: 10rem!important;
}

.popular-post .post-info{
    position: absolute;
    background-color: white;
    left: 0;
    bottom: -7px!important;
    opacity: .99;
    padding: .2rem .3rem;
    font-size: .8rem;
}

.popular-post .post-title{
    padding: .5rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.popular-post .post-title a{
    color: orangered;
}


.sidebar .newsletter{
    background-color: #36454f;
    padding: 1rem;
}

.sidebar .newsletter p{
    color: white;
    font-family: cursive;
    letter-spacing: .1rem;
    opacity: .8;
}

.newsletter .input-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter .input-element input[type='email']{
    width: 100%;
    outline: none;
    padding: .3rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(167, 162, 162);
    color: white;
}

.newsletter .input-element input[type='email']::placeholder{
    color: white;
    opacity: .7;
    padding: 0 .2rem;
}

.newsletter .sub-btn{
    margin: .5rem;
    padding: .2rem 1rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: all 1s ease;
}

.newsletter .sub-btn:hover{
    background: #000;
    color: white;
    border: 1px solid;
}




.quick-links h3{
    text-transform: capitalize;
    font-family: Bebas;
}

.quick-links ul{
    list-style-type: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quick-links ul li{
    margin: .5rem 0;
}
 footer .q-link{
     text-transform: capitalize;
     color: white;
     opacity: 0.8!important;
 }






footer.footer{
    background-color: #101010;
    color: #bdbdbd;
    padding: 3rem 0 0 0;
    position: relative;
}

footer .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: capitalize;

}

footer .q-links{
    padding: 0 1rem;
}

footer .f-head{
    color:white;
    font-family: Bebas;
    letter-spacing: .2rem;
}

footer .q-links > ul{
    list-style-type: none;
}
footer .q-link{
    display: inline-block;
    text-decoration: none;
    color: #bdbdbd;
}

footer .q-link:hover{
    color: white;
}


footer .insta-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    margin-top: .4rem;
}

footer .insta-img img{
    width: 100%;
    min-height: 100%;
}

footer .newsletter{
    padding-left: 1.5rem;
}

footer .newsletter p{
    color: white;
    opacity: .8;
    
}

footer .newsletter .input-element{
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.footer .newsletter .sub-btn:hover{
  background-color: #ff512f;
  color: white;
  border: none;
  border-radius: 0;
}


footer .follow-us{
    padding: 0 1.5rem;
}

footer .social{
  margin: 1rem 0 0 0 ;
}

footer .social a{
    margin: 0 .1rem;
    font-size: 1rem;
    color: #979dac;
}


footer .social a:hover{
    color: #e7e7e7;
   
}

footer .phone-contact a{
    color: #979dac;
}

footer .mail-contact a{
    color: #979dac;
}

footer .copy{
    background-color: #000;
}

footer .copyright span{
    color: rgb(12, 145, 12);
}


/* Responsive styling */

/* Mobile screens */
@media only screen and (max-width: 425px) {
    .blog .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .post-row{
       flex-direction: column;
    }
    .showcase-text h1{
        font-size: 3rem;
    }
    .showcase-text span{
        font-size: 1rem;
    }
    .showcase-content .showcase-btn{
        font-size: 1rem;
    }
    
    .category-items .category-item{
        width: 80%!important;
        
    }



    footer .container-footer{
        grid-template-columns: repeat(1, 1fr)!important;
        gap: 2rem;
        width: 100%!important;
    }
    
}



/* Tablets */
@media only screen and (min-width: 500px) and (max-width: 991px){
   .popular-post .post-img img.popular-img{
        height: 20rem!important;
    }
}
@media only screen and (max-width: 991px){
    .blog .container{
        grid-template-columns: repeat(1, 1fr);
    } 
    .category-items{
        display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
    }
    .category-items .category-item{
        width: 45%;
        display: flex;
        
    }
    footer .container-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .site-content{
        grid-template-columns: repeat(1, 1fr);
    }

}




/**************************** Bootstrap  ************************/
@media screen and (min-width: 1300px) {
    .container{
        max-width: 1200px;
    }
}